In [1]:
from pyspark.sql.types import *
from pyspark.sql import functions as F
from pyspark.sql.types import *
from pyspark.sql.functions import udf

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [3]:
df = spark.read.format("csv").option("header",True).option("separator",",").load("hdfs://namenode:9000/user/hadoop/data/air/WHO_AirQuality_Database_2018.csv")

In [4]:
type(df)

pyspark.sql.dataframe.DataFrame

In [5]:
df.printSchema()

root
 |-- ID WHO city: string (nullable = true)
 |-- iso3: string (nullable = true)
 |-- country: string (nullable = true)
 |-- city: string (nullable = true)
 |-- pm10: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- type_of_stations: string (nullable = true)
 |-- pm10_type: string (nullable = true)
 |-- pm25: string (nullable = true)
 |-- pm25_type: string (nullable = true)
 |-- reference: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- population: string (nullable = true)
 |-- wbinc16_text: string (nullable = true)
 |-- region15: string (nullable = true)
 |-- date_compiled: string (nullable = true)
 |-- population_source: string (nullable = true)
 |-- tempcov_PM10: string (nullable = true)
 |-- tempcov_PM25: string (nullable = true)
 |-- latitude_pop: string (nullable = true)
 |-- longitude_pop: string (nullable = true)
 |-- Region22: string (nullable = true)
 |-- region_abbr: string (nullable = true)
 |-- tempcov_PM10_grad: string (nullable = true)
 |-- tempcov_PM25_grad: string (nullable = true)
 |-- conc_pm25: string (nullable = true)
 |-- color_pm25: string (nullable = true)
 |-- conc_pm10: string (nullable = true)
 |-- color_pm10: string (nullable = true)

In [6]:
df.show(10)

+-----------+----+---------+---------------+----------------+----+--------------------+---------+----------------+---------+--------------------+-----------------+----------------+----------+-------------------+--------+-------------+-----------------+------------+------------+------------+-------------+--------------------+-----------+-----------------+-----------------+---------+----------+---------+----------+
|ID WHO city|iso3|  country|           city|            pm10|Year|    type_of_stations|pm10_type|            pm25|pm25_type|           reference|         latitude|       longitude|population|       wbinc16_text|region15|date_compiled|population_source|tempcov_PM10|tempcov_PM25|latitude_pop|longitude_pop|            Region22|region_abbr|tempcov_PM10_grad|tempcov_PM25_grad|conc_pm25|color_pm25|conc_pm10|color_pm10|
+-----------+----+---------+---------------+----------------+----+--------------------+---------+----------------+---------+--------------------+-----------------+----------------+----------+-------------------+--------+-------------+-----------------+------------+------------+------------+-------------+--------------------+-----------+-----------------+-----------------+---------+----------+---------+----------+
|          3| ALB|  Albania|         Tirana|     31.61542142|2013|1 station, traffi...| Measured|     16.06236628| Measured|European Environm...| 41.3302688598633|19.8217716217041|    453509|Upper middle income|  Eur_LM|         2016|               NA|          NA|          NA|          NA|           NA|       Europe (LMIC)| Eur (LMIC)|               NA|               NA|   15-<25|    orange|   30-<50|   darkred|
|         15| AUS|Australia|  Central Coast|12.8204622829167|2014|                   -|Converted|             5.5| Measured|http://www.enviro...|-33.2788887023926|151.432495117188|    297713|        High income|  Wpr_HI|         2016|               NA|          NA|          NA|          NA|           NA|Western Pacific (...|  Wpr (HIC)|               NA|               NA|      <10|     green|      <20|     green|
|         18| AUS|Australia|      Devonport|14.9183561110304|2013|                   -|Converted|             6.4| Measured|Environment Prote...|-41.1847991943359|146.345993041992|     29050|        High income|  Wpr_HI|         2016|               NA|          NA|          NA|          NA|           NA|Western Pacific (...|  Wpr (HIC)|               NA|               NA|      <10|     green|      <20|     green|
|         19| AUS|Australia|        Geelong|            17.5|2014|1 station, Reside...| Measured|7.50752959417486|Converted|EPA Victoria, Env...|-38.1749992370605|144.369003295898|    173450|        High income|  Wpr_HI|         2016|               NA|          NA|          NA|          NA|           NA|Western Pacific (...|  Wpr (HIC)|               NA|               NA|      <10|     green|      <20|     green|
|         22| AUS|Australia|         Hobart|14.2190581683258|2013|                   -|Converted|             6.1| Measured|Environment Prote...|-42.8545989990234|147.315002441406|    170977|        High income|  Wpr_HI|         2016|               NA|          NA|          NA|          NA|           NA|Western Pacific (...|  Wpr (HIC)|               NA|               NA|      <10|     green|      <20|     green|
|         23| AUS|Australia|La Trobe Valley|           19.95|2014|2 stations, resid...| Measured|             9.8| Measured|http://www.epa.vi...|-38.2210578918457|146.397537231445|     72396|        High income|  Wpr_HI|         2016|               NA|          NA|          NA|          NA|           NA|Western Pacific (...|  Wpr (HIC)|               NA|               NA|      <10|     green|      <20|     green|
|         24| AUS|Australia|     Launceston|18.8810444530228|2013|                   -|Converted|             8.1| Measured|Environment Prote...|-41.4174003601074|         147.125|     82222|        High income|  Wpr_HI|         2016|               NA|          NA|          NA|          NA|           NA|Western Pacific (...|  Wpr (HIC)|               NA|               NA|      <10|     green|      <20|     green|
|         25| AUS|Australia|   Lower Hunter|17.3270490247905|2014|                   -|Converted|7.43333333333333| Measured|http://www.enviro...|-32.7983322143555|151.660003662109|    620530|        High income|  Wpr_HI|         2016|               NA|          NA|          NA|          NA|           NA|Western Pacific (...|  Wpr (HIC)|               NA|               NA|      <10|     green|      <20|     green|
|         27| AUS|Australia|      Melbourne|           18.75|2014|10 stations, Resi...| Measured|             7.7| Measured|http://www.epa.vi...|-37.7810554504395|145.030700683594|   4203416|        High income|  Wpr_HI|         2016|               NA|          NA|          NA|          NA|           NA|Western Pacific (...|  Wpr (HIC)|               NA|               NA|      <10|     green|      <20|     green|
|         38| AUS|Australia|   Upper Hunter| 19.658042167139|2014|                   -|Converted|8.43333333333333| Measured|http://www.enviro...|-32.4722213745117|151.091949462891|    620530|        High income|  Wpr_HI|         2016|               NA|          NA|          NA|          NA|           NA|Western Pacific (...|  Wpr (HIC)|               NA|               NA|      <10|     green|      <20|     green|
+-----------+----+---------+---------------+----------------+----+--------------------+---------+----------------+---------+--------------------+-----------------+----------------+----------+-------------------+--------+-------------+-----------------+------------+------------+------------+-------------+--------------------+-----------+-----------------+-----------------+---------+----------+---------+----------+
only showing top 10 rows

In [7]:
df = df.select("iso3", "country", "city", "pm10", "pm25", "Year", "population")
df.show(5)

+----+---------+-------------+----------------+----------------+----+----------+
|iso3|  country|         city|            pm10|            pm25|Year|population|
+----+---------+-------------+----------------+----------------+----+----------+
| ALB|  Albania|       Tirana|     31.61542142|     16.06236628|2013|    453509|
| AUS|Australia|Central Coast|12.8204622829167|             5.5|2014|    297713|
| AUS|Australia|    Devonport|14.9183561110304|             6.4|2013|     29050|
| AUS|Australia|      Geelong|            17.5|7.50752959417486|2014|    173450|
| AUS|Australia|       Hobart|14.2190581683258|             6.1|2013|    170977|
+----+---------+-------------+----------------+----------------+----+----------+
only showing top 5 rows

In [8]:
df = df.withColumn("pm10", df["pm10"].cast(IntegerType()))
df = df.withColumn("pm25", df["pm25"].cast(IntegerType()))
df = df.withColumn("population", df["population"].cast(IntegerType()))

In [9]:
df.printSchema()

root
 |-- iso3: string (nullable = true)
 |-- country: string (nullable = true)
 |-- city: string (nullable = true)
 |-- pm10: integer (nullable = true)
 |-- pm25: integer (nullable = true)
 |-- Year: string (nullable = true)
 |-- population: integer (nullable = true)

In [10]:
df_toPandas = df.toPandas()
df_toPandas

      iso3       country           city   pm10  pm25  Year  population
0      ALB       Albania         Tirana   31.0  16.0  2013    453509.0
1      AUS     Australia  Central Coast   12.0   5.0  2014    297713.0
2      AUS     Australia      Devonport   14.0   6.0  2013     29050.0
3      AUS     Australia        Geelong   17.0   7.0  2014    173450.0
4      AUS     Australia         Hobart   14.0   6.0  2013    170977.0
...    ...           ...            ...    ...   ...   ...         ...
11971  SAU  Saudi Arabia         Riyadh  201.0  51.0  2014   6369710.0
11972  SAU  Saudi Arabia         Riyadh  240.0  69.0  2015   6369710.0
11973  SAU  Saudi Arabia         Riyadh  251.0  73.0  2016   6369710.0
11974  SAU  Saudi Arabia         Dammam  260.0  61.0  2015   1073788.0
11975  SAU  Saudi Arabia         Dammam  161.0  56.0  2016   1073788.0

[11976 rows x 7 columns]

In [11]:
df.write.csv("hdfs://namenode:9000/user/hadoop/data/air/air-data.csv")